@font-face {
  font-family: 'League Spartan';
  src: url('leaguespartan-bold.eot');
  src: url('leaguespartan-bold.eot?#iefix') format('embedded-opentype'),
       url('leaguespartan-bold.woff2') format('woff2'),
       url('leaguespartan-bold.woff') format('woff'),
       url('leaguespartan-bold.ttf') format('truetype'),
       url('leaguespartan-bold.svg#league_spartanbold') format('svg');
  font-weight: bold;
  font-style: normal;
}

$mobile: "(max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 991px)";
$computer: "(min-width: 992px) and (max-width: 1199px)";
$monitor: "(min-width: 1200px) and (max-width: 1919px)";
$widescreen: "(min-width: 1920px)";

$semanticGrey: rgba(34, 36, 38, 0.1);
$font_head_main: 'League Spartan', sans-serif;
$font_head_sub: 'Alegreya Sans', sans-serif;
$font_body: 'Open Sans', sans-serif;

$yellow: #FBBD08;


/**
 *
 *  Media Queries
 *
 */
@media only screen and #{$mobile} {
    .mobile.hidden,
    .tablet.only,
    .computer.only,
    .large.monitor.only,
    .widescreen.monitor.only {
        display: none !important;
    }
}
@media only screen and #{$tablet} {
    .mobile.only,
    .tablet.hidden,
    .computer.only,
    .large.monitor.only,
    .widescreen.monitor.only {
        display: none !important;
    }
}
@media only screen and #{$computer} {
    .mobile.only,
    .tablet.only,
    .computer.hidden,
    .large.monitor.only,
    .widescreen.monitor.only {
        display: none !important;
    }
}
@media only screen and #{$monitor} {
    .mobile.only,
    .tablet.only,
    .computer.only,
    .large.monitor.hidden,
    .widescreen.monitor.only {
        display: none !important;
    }
}
@media only screen and #{$widescreen} {
    .mobile.only,
    .tablet.only,
    .computer.only,
    .large.monitor.only,
    .widescreen.monitor.hidden  {
        display: none !important;
    }
}



/**
 *
 *  Utility
 *
 */
.crimp {
  font-family: $font_head_main !important;
}



/**
 *
 *  General Classes
 *
 */
a {
  color: $yellow;

  &:hover, &:focus {
    color: #FF7849
  }
}
nav { z-index: 1000 }
section.ui.container {
  position: relative;
  padding: 50px 0;
  border-bottom: 1px solid $semanticGrey;

  &:last-child {
    border: none;
  }
}
div.anchor {
    position: relative;
    top: -40px;
  }



/**
 *
 *  Header
 *
 */
header {
  position: relative;
  display: block;
  width: 100%;
  height: calc(100vh - 40px);
  min-height: 500px;
  overflow: hidden;

  margin-top: 40px;
  color: #FFF;
  text-align: center;
  // background: url('../assets/bg-main-page.jpg') no-repeat center center /*fixed*/;
  background: url('../assets/3_lg.jpg') no-repeat center center /*fixed*/;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;

  .crimp {
    position: absolute;
    top: 7px;
    font-size: 2em;
    color: #000;

    @media #{$tablet} {
      top: 11px;
    }
    @media #{$computer} {
      top: 11px;
    }
    @media #{$monitor} {
      top: 11px;
    }
    @media #{$widescreen} {
      top: 11px;
    }
  }

  // Overwrite Semantic UI
  .ui.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    border-radius: 0;
    border: none;
    text-align: center;

    .item:before {
      background: none;
    }
  }


  .header-text {
    position: relative;
    top: 50%;
    width: 100%;
    height: 200px;
    margin-top: -100px;
    text-align: center;
    text-shadow: 0px 0px 6px #1A2634;
  }

  h1 {
    display: block;
    max-width: 300px;
    padding: 0;
    margin: 0 auto;

    font-family: $font_head_main;
    font-size: 2.7rem;
    line-height: 3.5rem;
    text-shadow: 6px 6px 10px #1A2634;
    color: #FFF;

    @media #{$tablet} {
      max-width: 600px;
      font-size: 3rem;
    }
    @media #{$computer} {
      max-width: 600px;
      font-size: 3rem;
    }
    @media #{$monitor} {
      max-width: 600px;
      font-size: 3rem;
    }
    @media #{$widescreen} {
      max-width: 600px;
      font-size: 3rem;
    }
  }

  h2 {
    display: block;
    max-width: 320px;
    font-family: 'Alegreya Sans';
    font-size: 1.2rem;
    padding: 0;
    margin: 20px auto;
    color: #FFF;

    @media #{$tablet} {
      max-width: 600px;
      font-size: 1.3rem;
    }
    @media #{$computer} {
      max-width: 768px;
      font-size: 1.4rem;
    }
    @media #{$monitor} {
      max-width: 768px;
      font-size: 1.4rem;
    }
    @media #{$widescreen} {
      max-width: 768px;
      font-size: 1.4rem;
    }

    .sentence {
      display: inline-block;
      margin: 6px auto;

      @media #{$tablet} {
        margin: 2px auto;
      }
      @media #{$computer} {
        margin: 2px auto;
      }
      @media #{$monitor} {
        margin: 2px auto;
      }
      @media #{$widescreen} {
        margin: 2px auto;
      }
    }
  }
}

.social-buttons {
  position: relative;
  display: block;
  width: 100%;

  > * {
    display: inline-block;
    margin: 0 3px;
  }

  iframe {
    border: 1px solid #000;
  }

  .header-social-buttons {
    display: block;
  }

  .github-button {
    font-size: 0;
  }
}



/**
 *
 *  Sections
 *
 */
section#features-section {
  .statistic {
    .value .icon {
      font-size: 1.6em;


      &::before {
        vertical-align: text-bottom;
      }
    }

    .label {
      text-transform: none;
      font-weight: 400;

      .title{
        font-size: 1.1em;
        font-family: $font_body;
        font-weight: 700;
      }

      .description {
        font-family: $font_head_sub;

      }

      .disclaimer {
        color: #bbb;
        font-size: 0.8em;
      }
    }
  }
}

section.conversion-section {
  text-align: center;
}



#pricing-calculator {
  margin-top: 50px;
  text-align: center;

  .ui.statistic {
    text-align: center;
  }
}
input[type="range"] {
    width: 100%;
    padding: 3px 5px;
    -webkit-appearance: none;
    border-width: 1px;
    border-style: solid;
    border-radius: 50rem;
    border-color: rgba(0, 0, 0, 0.1);
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: $yellow;
    border-radius: 50rem;
    height: 1em;
    width: 1em;
}

/**
 *
 *  Footer
 *
 */
footer {
  .ui.flag {
    margin: 0 2px;
  }
}
