<footer>
  <div class="ui two column stackable grid container">
    <div class="column">
      <div class="ui large header crimp">CRIMP</div>
      <div class="sub header">Comprehensive Real-time Index of MgCO₃ Performance</div>

      <p>CRIMP is the ultimate automated scoring solution for climbing events. We simplify the scorekeeping process for the event organizers, help judges work better, and deliver live scores to the climbers and spectators to supercharge their event experience.</p>

      <p>We are battle-tested - from small youth team practices to huge 800 climbers multi-day events, we have handled them easily. If we're an anchor, we'll be SERENE and bomber.</p>

      <p>Still using clipboards and Excel to record scores? We can do better. <a href="http://app.crimp.rocks/?ref=landing_footer" target="_blank">Try us out for free!</a></p>
    </div>

    <div class="column">
      <div class="ui list">
        <div class="ui item">
          <i class="heart icon"></i>
          <div class="content">For climbers, by climbers</div>
        </div>
        <div class="ui item">
          <i class="child icon"></i>
          <div class="content">First ascent in 2014</div>
        </div>
        <div class="ui item">
          <i class="legal icon"></i>
          <div class="content">Cleaned and bolted in Singapore &nbsp;<i class="sg flag"></i></div>
        </div>
        <div class="ui item">
          <i class="bookmark icon"></i>
          <div class="content">Graded YDS 5.9 / French 5c</div>
        </div>
        <div class="ui item">
          <i class="lightning icon"></i>
          <div class="content">Definitely not sandbagged</div>
        </div>
        <br>
        <div class="ui item">
          <i class="mail icon"></i>
          <div class="content"><a href="mailto:hello@crimp.rocks">hello@crimp.rocks</a></div>
        </div>
        <div class="ui item">
          <i class="facebook icon"></i>
          <div class="content"><a href="https://www.facebook.com/crimp.rocks/">crimp.rocks</a></div>
        </div>
        <div class="ui item">
          <i class="instagram icon"></i>
          <div class="content"><a href="https://www.instagram.com/crimp.rocks/">crimp.rocks</a></div>
        </div>
      </div>
    </div>
  </div>
</footer>


<!-- Libraries -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.js" integrity="sha256-flVaeawsBV96vCHiLmXn03IRJym7+ZfcLVvUWONCas8=" crossorigin="anonymous"></script>

<!-- Our stuff -->
<script async src="assets/scripts.js"></script>
