<footer>
  <div class="ui two column stackable grid container">
    <div class="column">
      <div class="footer-email">
        <h5 class="crimp">We're always improving CRIMP to serve the climbing community. Even if you're not ready to crimp hard, do not miss out on the latest and greatest. Allez.</h5>

        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup">
          <form action="//rocks.us15.list-manage.com/subscribe/post?u=a8abc21cef418bbdc05e464b8&amp;id=7256dcdcfb" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate ui form" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">

            <div class="field">
              <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Your email" required>
            </div>

            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a8abc21cef418bbdc05e464b8_7256dcdcfb" tabindex="-1" value=""></div>

            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="ui yellow fluid button"></div>
          </form>
        </div>
        <!-- End MailChimp Signup Form -->
      </div>
    </div>

    <div class="column">
      <div class="ui large header crimp">CRIMP</div>
      <div class="sub header">Comprehensive Real-time Index of MgCO₃ Performance</div>

      <div class="ui list">
        <div class="ui item">
          <i class="heart icon"></i>
          <div class="content">For climbers, by climbers</div>
        </div>
        <div class="ui item">
          <i class="child icon"></i>
          <div class="content">First ascent in 2014</div>
        </div>
        <div class="ui item">
          <i class="legal icon"></i>
          <div class="content">Bolted in Singapore &nbsp;<i class="sg flag"></i></div>
        </div>
        <div class="ui item">
          <i class="bookmark icon"></i>
          <div class="content">Graded YDS 5.9 / French 5c</div>
        </div>
        <div class="ui item">
          <i class="lightning icon"></i>
          <div class="content">Definitely not sandbagged</div>
        </div>
        <br>
        <div class="ui item">
          <i class="mail icon"></i>
          <div class="content"><a href="mailto:hello@crimp.rocks">hello@crimp.rocks</a></div>
        </div>
        <div class="ui item">
          <i class="facebook icon"></i>
          <div class="content"><a href="https://www.facebook.com/crimp.rocks/">crimp.rocks</a></div>
        </div>
        <div class="ui item">
          <i class="instagram icon"></i>
          <div class="content"><a href="https://www.instagram.com/crimp.rocks/">crimp.rocks</a></div>
        </div>
      </div>
    </div>

    <!--
    <div class="column">
      <div class="ui list">
        <div class="item">
          <a href="/privacy.html">Privacy Policy</a>
        </div>
      </div>
    </div>
    -->
 </div>
</footer>


<!-- Libraries -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.js" integrity="sha256-flVaeawsBV96vCHiLmXn03IRJym7+ZfcLVvUWONCas8=" crossorigin="anonymous"></script>

<!-- Our stuff -->
<script async src="assets/scripts.js"></script>
