<a class="item" href="/features.html">
  Features
</a>

<a class="item" href="/overview.html">
  Setup Overview
</a>

<a class="item" href="/pricing.html">
  Pricing
</a>

<a class="item" href="/faq.html">
  FAQ
</a>

<div class="item button">
  <a class="ui yellow fluid labeled icon button" href="http://app.crimp.rocks">
    <i class="sign in icon"></i>
    Login
  </a>
</div>

<div class="item button">
  <a class="ui fluid icon button" href="https://play.google.com/store/apps/details?id=rocks.crimp.main.android">
    <i class="android icon"></i>
  </a>
</div>

<div class="item button">
  <a class="ui fluid icon button" href="https://itunes.apple.com/us/app/crimp/id1299220607">
    <i class="apple icon"></i>
  </a>
</div>
